@charset "UTF-8";

* {
    overflow: hidden;  
    margin: 0px;
    padding: 0px;
}

form {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 25%;
}

input {
    width: 100%;
}

.oneline {
    width: 100%;
}

.buttons {
    display: flex;
}